<a href="https://colab.research.google.com/github/ChaouechOlfa/FormationUdemy/blob/main/Lecture_de_donn%C3%A9es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
2+2

4

In [ ]:
#Importer les biblioth√®ques
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Installation package Kaggle
! pip install -q kaggle

In [ ]:
#Creation d'un dossier Kaggle
! mkdir ~/.kaggle/

In [7]:
#Copier kaggle.json dans le dossier kaggle
! cp '/content/drive/MyDrive/Kaggle/kaggle.json' ~/.kaggle/

In [8]:
#donner les droits √† kaggle.json
!chmod 600 ~/.kaggle/kaggle.json

In [9]:
#Afficher les bases de donn√©es
! kaggle datasets list

ref                                                              title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
---------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
ahsan81/hotel-reservations-classification-dataset                Hotel Reservations Dataset                          480KB  2023-01-04 12:50:31           5798        201  1.0
themrityunjaypathak/most-subscribed-1000-youtube-channels        Most Subscribed 1000 Youtube Channels                28KB  2023-01-21 14:42:05            502         26  1.0
senapatirajesh/netflix-tv-shows-and-movies                       Latest Netflix TV shows and movies                    1MB  2023-01-14 17:03:12           1975         58  0.9411765
ulrikthygepedersen/online-retail-dataset                         Online Retail Dataset                                 7MB  2023-01-20 13:50:59            692         21  1.0
yanmaksi/big-startup-secsees-fail-dataset-from-crunchbase        üöÄStartup Success/Fail Dataset from Crunchbase         3MB  2023-01-22 19:14:28            640         26  1.0
yashwanthkumarmn/motorcycles-in-india                            Motorcycles in India                                  9KB  2023-01-14 09:35:13            826         21  1.0
salimwid/technology-company-layoffs-20222023-data                Technology Company Layoffs (2022-2023)               13KB  2023-01-24 07:07:51            655         26  1.0
cesaber/spam-email-data-spamassassin-2002                        Spam Email Data original & CSV file (Spamassassin)   12MB  2023-01-24 09:16:05            275         25  1.0
ahbab911/top-250-korean-dramas-kdrama-dataset                    Top 250 Korean Dramas (KDrama) Dataset               90KB  2023-01-21 10:06:24            625         33  1.0
rakkesharv/spotify-top-10000-streamed-songs                      Spotify Top 10000 Streamed Songs                    280KB  2023-01-02 08:17:15           2451         74  1.0
rishikeshkonapure/home-loan-approval                             Home Loan Approval                                   13KB  2023-01-12 06:28:57           1728         41  1.0
themrityunjaypathak/imdb-top-100-movies                          IMDb Top 100 Movies                                   4KB  2023-01-11 17:15:09           1458         46  1.0
ahsan81/job-placement-dataset                                    Job Placement Dataset                                 4KB  2023-01-09 09:58:49            959         27  1.0
yashsrivastava51213/revenue-and-profit-of-fortune-500-companies  Revenue and Profit of Fortune 500 Companies.        328KB  2023-01-22 05:46:13            467         24  0.88235295
thedevastator/rotten-tomatoes-top-movies-ratings-and-technical   Rotten Tomatoes Top Movies Ratings and Technical    685KB  2023-01-17 09:43:42            758         30  1.0
thedevastator/global-fossil-co2-emissions-by-country-2002-2022   Emissions by Country                                  2MB  2023-01-24 04:24:10           2398         74  1.0
thedevastator/supermarket-ordering-invoicing-and-sales-analysi   Supermarket Ordering, Invoicing, and Sales            4MB  2023-01-15 15:37:10            826         26  0.9411765
shibumohapatra/customer-life-time-value                          Customer Life Time Value                              2MB  2023-01-23 09:52:06            353         23  1.0
karkavelrajaj/amazon-sales-dataset                               Amazon Sales Dataset                                  2MB  2023-01-17 06:21:15            960         35  1.0
dansbecker/melbourne-housing-snapshot                            Melbourne Housing Snapshot                          451KB  2018-06-05 12:52:24         105350       1199  0.7058824

In [11]:
#t√©l√©charger une base de donn√©es
! kaggle datasets download -d datasets/jsphyg/tipping?select=tips.csv

403 - Forbidden

In [13]:
tips=pd.read_csv('/content/drive/MyDrive/Kaggle/tips.csv')

In [14]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [15]:
type(tips)

pandas.core.frame.DataFrame